<div class="container">
    <section class="text-white py-8 px-5 py-md-10">
        <div class="d-md-flex footer-menu-rwd">
            <h2 class="mb-7 mb-md-3"><a href="index.html"><img class="footer-logo" src="../assets/images/logo-white.png" alt="logo"></a></h2>
            <ul class="d-flex flex-column gap-5 mb-7 mb-md-3 flex-md-row">
                <li><a href="#">常見問題</a></li>
                <li><a href="#">關於我們</a></li>
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">使用者條款</a></li>
            </ul>
        </div>
        <div class="d-md-flex flex-md-row-reverse footer-menu-rwd">
            <ul class="d-flex gap-3 mb-6">
                <li><a href="#"><i class="bi bi-line fs-5"></i></a></li>
                <li><a href="#"><i class="bi bi-youtube fs-5"></i></a></li>
                <li><a href="#"><i class="bi bi-facebook fs-5"></i></a></li>
            </ul>
            <p class="fs-xs">copyright © 2024 課程網站 All Rights Reserved.</p>
        </div>
    </section>
</div>