<!-- mobile -->
<nav class="navbar navbar-expand-xl d-xl-none">
    <div class="container-fluid">
        <h1 class="mb-1"><a href="index.html"><img class="header-logo" src="../assets/images/logo.png" alt="learning-logo"></a></h1>
        <div class="ms-auto">
            <a href="#" class="position-relative mx-2"><span class="material-symbols-outlined align-middle">
                notifications
            </span>
            <span class="position-absolute top-0 start-100 translate-middle p-025rem bg-primary-100 rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span></a>
            <a href="#" class="position-relative mx-2"><span class="material-symbols-outlined align-middle">
            shopping_cart
            </span>
            <span class="position-absolute top-15 start-100 translate-middle badge rounded-circle bg-primary-100">
                2
                <span class="visually-hidden">unread messages</span>
              </span></a>
        </div>
        <button class="btn border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-2">
                <div class="position-relative header-rwd-toggle-height">
                    <ul class="header-rwd-menu navbar-nav me-auto mb-2 mb-lg-0 position-relative">
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary  nav-link-primary-hover" href="about.html">探索全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">音樂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">攝影</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">程式</a>
                            <ul class="dropdown-menu position-absolute top-0 left-0 w-100 h-100 border-0">
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#"><span class="material-symbols-outlined align-middle me-1">
                                    chevron_left
                                    </span>所有程式</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">程式入門</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網頁前端</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網頁後端</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網站架設</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">資訊安全</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">程式語言</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">遊戲開發</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">資料科學</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">人工智慧</a></li>
                                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">量化分析</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">藝術</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">人文</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">行銷</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">投資理財</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">心靈成長</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">職場技能</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">生活品味</a>
                        </li>
                    </ul>
                    <button class="btn-primary btn-primary-style w-100 position-absolute bottom-0 start-0">
                        登入 / 註冊
                    </button>
                </div>
            </div>
        </div>

            
        </button>
        <div class="collapse navbar-collapse position-relative header-rwd-collapse-height" id="navbarSupportedContent">
            <ul class="header-rwd-menu navbar-nav me-auto mb-2 mb-lg-0 position-relative">
                <li class="nav-item">
                    <a class="nav-link nav-link-primary  nav-link-primary-hover" href="#">探索全部</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">音樂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">攝影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">程式</a>
                    <ul class="dropdown-menu position-absolute top-0 left-0 w-100 h-100 border-0">
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover text-center" href="#"><span class="material-symbols-outlined align-middle">
                            chevron_left
                            </span>所有程式</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">程式入門</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網頁前端</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網頁後端</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">網站架設</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">資訊安全</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">程式語言</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">遊戲開發</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">資料科學</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">人工智慧</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover" href="#">量化分析</a></li>

                      </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">藝術</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">人文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">行銷</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">投資理財</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">心靈成長</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">職場技能</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">生活品味</a>
                </li>
            </ul>
            <button class="btn-primary btn-primary-style w-100 position-absolute bottom-0 start-0">
                登入 / 註冊
            </button>
        </div> 
    </div>
</nav>
<!-- desktop -->
<nav class="navbar navbar-expand-lg d-none d-xl-block">
    <div class="container-fluid header-box-shadow rounded-pill py-3 px-7">
        <h1 class="mb-1"><a href="index.html"><img class="header-logo" src="../assets/images/logo.png" alt="learning-logo"></a></h1>
        <div class="navbar-nav mb-2 mb-lg-0">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-5" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              探索<span class="material-symbols-outlined align-bottom">
                keyboard_arrow_down
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item nav-link-primary nav-link-primary-hover mb-1" href="about.html">探索全部</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">音樂</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">攝影</a></li>
                <li class="dropend">
                    <a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">程式</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-hover mb-1" href="#">所有程式</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">程式入門</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">網頁前端</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">網頁後端</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">網站架設</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">資訊安全</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">程式語言</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">遊戲開發</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">資料科學</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">人工智慧</a></li>
                        <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">量化分析</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">藝術</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">人文</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">行銷</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">投資理財</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">心靈成長</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">職場技能</a></li>
                <li><a class="dropdown-item nav-link-primary nav-link-primary-icon nav-link-primary-hover" href="#">生活品味</a></li>
            </ul>
          </div>
        </div>
        <form class="d-flex position-relative" role="search" style="width: 425px;">
          <input class="form-control me-2 py-4 px-1 ps-7 rounded-4" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
          <button class="btn-primary-sm btn-primary-style position-absolute top-50 end-0 translate-middle-y me-4" type="submit">搜尋</button>
          <span class="material-symbols-outlined position-absolute top-50 ms-2 translate-middle-y">
            search
          </span>
        </form>
        <div class="ms-auto me-3">
            <a href="#" class="position-relative mx-2"><span class="material-symbols-outlined align-middle">
                notifications
            </span>
            <span class="position-absolute top-0 start-100 translate-middle p-025rem bg-primary-100 rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span></a>
            <a href="#" class="position-relative mx-2"><span class="material-symbols-outlined align-middle">
            shopping_cart
            </span>
            <span class="position-absolute top-15 start-100 translate-middle badge rounded-circle bg-primary-100">
                2
                <span class="visually-hidden">unread messages</span>
              </span></a>
        </div>
        <button type="button" class="btn-primary btn-primary-style">登入 / 註冊</button>
      </div>
    </div>
</nav>


